<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjz.mapper.BlogMapper">
<!--    List<Blog> list();-->

<!--    Blog getById(Long id);-->
    <select id="list" resultType="Blog">
        SELECT * FROM blog
    </select>

    <select id="getById" resultType="Blog">
       SELECT * FROM blog WHERE id = #{id}
    </select>

    <select id="update" resultType="Blog">
        UPDATE blog
        SET title = #{blog.title},
            content = #{blog.content},
            create_by = #{blog.create_by},
            create_at = #{blog.create_at},
            description = #{blog.description}
        WHERE id = #{blog.id}
    </select>

    <select id="save" resultType="Blog">
        INSERT INTO blog (
                title, content, create_by, create_at, description
        )
        VALUES (
                #{blog.title},
                #{blog.content},
                #{blog.create_by},
                #{blog.create_at},
                #{blog.description}
               );
    </select>
</mapper>